node_modules/
npm-debug.log

.idea
# Logs
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
coverage
*.lcov
.nyc_output
jspm_packages/
.npm
.eslintcache
*.tgz
.env
.env.test
dist
.serverless/
.dynamodb/
.nvmrc
.aws-sam
.scannerwork
test-report.xml

*.toml

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo
*.tsbuildinfo
*.DS_Store
